@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;

400;500;600;700&display=swap);body {
  font-family: "Quicksand", sans-serif;
  background-color: #e2e8f0;
}

.form-group label {
  font-weight: bold;
}

.form-control:focus {
  box-shadow: none;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #343a40;
  border-bottom: 1px solid white;
  color: white;
}

/**
* sidebar console
*/

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.menu-active {
  background-color: #777879 !important;
  color: white;
  cursor: pointer;
}

.menu-active:hover {
  background-color: #777879 !important;
  color: white;
  cursor: pointer;
}

.turbolinks-progress-bar {
  height: 3px;
  background-color: red;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
  font-weight: bold;
}

